svg{
    display: block;

}

/* Top Wrapper*/
.top-wrapper{
    width: 90%;
    margin: 30px auto;
}
.tab-links-wrapper{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #cecece;
    border-left: 1px solid #eceaea;
    border-right: 1px solid #eceaea;
}

.tab-links-wrapper div a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #5c5c5c;
    padding: 10px;
}

.tab-links-wrapper div a i svg{
    display: block;
    margin: auto;
    padding: 0px 5px;
}
/* Main Content Wrapper*/
@media(max-width: 960px){
    .main-content-wrapper {
        display: flex;
        flex-direction: row;
    }
    .main-content {
        width: 100%;
    }
    .recommended-wrapper {
        display: none;
    }
}

@media(min-width: 960px){
    .main-content-wrapper {
        display: flex;
        flex-direction: row;
    }
    .main-content{
        width: 70%;
    }
    .recommended-wrapper{
        width: 25%;
        display: flex;
        flex-direction: column;
    }
}

.recommended-wrapper{
    margin: 85px auto 0px auto;
}

.recommended-orgs-wrapper{
    border: 1px solid #A7A7A7;
    border-radius: 2px;
    padding: 0px 20px;
}

/**/
.recommended-orgs-list .orgs-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 3px 10px 3px;
    border-bottom: 1px solid #bebebe;
    font-size: small;
    font-weight: 500;
}

.recommended-orgs-list{
    overflow-y: scroll;
    height: 230px;
    scrollbar-width: none;
}

.recommended-orgs-list::-webkit-scrollbar{
    display: none;
}

.card-container{
    margin-top: 10px;
    margin-right: 2px;
}

.trending-orgs{
    border-radius: 5px;
    margin-top: 20px;
}
.recommended-orgs{
    border-radius: 5px;
}

/* Search Field Wrapper*/

.search-field-wrapper{
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-field{
    flex: 0.8;
}
.search-field input{
    max-width: 100%;
    width: 100%;
    padding: 9px;
    border-radius: 2px;
    border: 1px solid #bebebe;
    background-color: #F9F9F9;
}
.sort-buttons{
    display: flex;
    flex-direction: row;
}
.sort-buttons div{
    padding: 0px 5px;
}

